/*

    @media (xtra-small-size-goes-here)
*/

#label_search-icon {
    top: 0;
}

.bordered-overflow {
    border: 1px solid lightgrey;
    border-radius: 4px;
    max-height: 32em;
    overflow: auto;
}

.less-width-md {
    width: 94%;
    margin-left: 3%;
}

.less-width-sm {
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
}

@media (min-width: 768px) {
    .less-width-md {
        width: 66%
    }

    .less-width-sm {
        width: 30.25%;
        margin-top: auto;
        margin-left: auto;
    }

    .left-margin {
        margin-left: 1.2%;
    }
}

div:empty {
    display: none;
}

.x-pad-btm {
    padding-bottom: 2%;
}

.all-center {
    width: 100%;
    text-align: center;
    align-content: center;
}

.image-div {
    margin-top: 5%;
}

.motto-div {
    padding-bottom: 7%;
    color: #737373;
}

.company-div {
    margin-top: 2%;
}

tbody tr:hover {
    cursor: pointer;
}

.footer-div {
    color: #999999;
    padding-bottom: 5%;
}