.min-height-div {
    position: relative;
    min-height: 25em;
}

.loading-text {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #888888;
}

#label_search-icon {
    top: 0;
}

.bordered-overflow {
    border: 1px solid lightgrey;
    border-radius: 4px;
    max-height: 32em;
    overflow: auto;
}

.less-width-md {
    width: 94%;
    margin-left: 3%;
}

.less-width-sm {
    width: 94%;
    margin-top: 2%;
    margin-left: 3%;
}

@media (min-width: 768px) {
    .less-width-md {
        width: 66%
    }

    .less-width-sm {
        width: 30.25%;
        margin-top: auto;
        margin-left: auto;
    }

    .left-margin {
        margin-left: 1.2%;
    }
}

div:empty {
    display: none;
}

.x-pad-btm {
    padding-bottom: 2%;
}

.all-center {
    width: 100%;
    text-align: center;
    align-content: center;
}

.image-div {
    margin-top: 5%;
}

.motto-div {
    padding-bottom: 5%;
    color: #737373;
}

.company-div {
    margin-top: 2%;
}

tbody tr:hover {
    cursor: pointer;
}

.footer-div {
    color: #999999;
    padding-bottom: 5%;
}

.clear-text-icon {
    top: -1.7em;
    right: 1em;
}

.search-bar {
    padding-left: 30px;
}

.search-icon {
    top: 2em;
    left: 0.75em;
}

.internal-padding {
    padding: 2%;
}

.display-image {
    max-height: 10em;
    max-width: 10em;
}