<!DOCTYPE html>
<!--[if IE 8]>
<html class="lt-ie10 ie8" lang="en" ng-app="uxApp"><![endif]-->
<!--[if IE 9]>
<html class="lt-ie10 ie9" lang="en" ng-app="uxApp"><![endif]-->
<!--[if gt IE 9]><!-->
<html ng-app="uxApp" lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <title>UX Society</title>
    </head>

    <body ng-controller="MainController as mainVm">

        <div class="container">

            <header class="x-pad-btm">
                <h3>UX Society Members</h3>
                <hr>
            </header>

            <div class="row">
                <div class="form-group col-lg-12">
                    <div class="form-group has-feedback input-group-md">
                        <span class="glyphicon glyphicon-search search-icon"></span>
                        <input type="search" class="form-control search-bar" ng-model="mainVm.searchInput" placeholder="Search"/>
                        <span class="glyphicon glyphicon-remove pull-right clear-text-icon" ng-click="mainVm.searchInput=''"></span>
                    </div>
                </div>
            </div>

            <div class="row " ng-hide="mainVm.hideLoadMessage">
                <div class="col-sm-12 text-center min-height-div">
                    <h4 class="loading-text">Loading...</h4>
                </div>
            </div>

            <div class="row" ng-hide="mainVm.hideDataDiv">
                <div class="col-sm-8 bordered-overflow less-width-md left-margin">
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr ng-init="mainVm.sorter='firstName'; mainVm.reverse=false">
                            <th class="cursor-pointer" ng-click="mainVm.sorter='firstName'; mainVm.reverse = !mainVm.reverse">
                                Name <span class="glyphicon glyphicon-sort"></span>
                            </th>
                            <th>Occupation</th>
                            <th>Company</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in mainVm.people | filter:mainVm.searchInput | orderBy:mainVm.sorter:mainVm.reverse"
                            ng-click="mainVm.person = p; mainVm.hide = false;">
                            <td>{{p.firstName + ' ' + p.middleInitial + ' ' + p.surname}}</td>
                            <td>{{p.occupation}}</td>
                            <td>{{p.company}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-4 less-width-sm left-margin text-center" ng-include="'person-tmpl.html'">
                    <ux-member member="mainVm.person"></ux-member>
                </div>
            </div>

            <div class="all-center footer-div">
                <hr>
                <footer>
                    <small>Built using Bootstrap v3.3.5</small>
                </footer>
            </div>

        </div>

        <!-- Script files -->
        <script src="js/angular.min.js"></script>
        <script src="app/app.js"></script>
        <script src="app/controllers/MainController.js"></script>
        <script src="app/services/data-service.js"></script>
        <script src="app/directives/ux-dir.js"></script>

    </body>
</html>